body {
  margin: 0;
  position: relative;
}

canvas {
  display: block;
  height: 100%;
  border: 1px solid #000;
}

a {
  color: rgba(248, 7, 7, 0.8);
  color: magenta;
}

.field {
  display: flex;
  gap: 30px;
}

.btn {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 5px;
  cursor: pointer;
}